<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import Curriculum from '../components/Curriculum.svelte';
	import { Router } from "svelte-routing";
	import { links } from "svelte-routing";
	import { Link } from "svelte-routing";
    import { onMount } from 'svelte';
	import MediaQuery from '../components/MediaQuery.svelte';

    const apiUrl = siteData.env.API_URL
	
    let mainResult
    let results = []
    let resultsloded = false
	let lastDate
	
	const m = new Date();
	m.setDate(m.getDate()-2);

	lastDate = ("0" + (m.getUTCMonth()+1)).slice(-2) + "/" +  ("0" + m.getUTCDate()).slice(-2) + "/" + m.getUTCFullYear();


	onMount(async () => {

		const api = await fetch(apiUrl, {
				method: "post",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({
					query: `query results {
                        results(orderBy: createdAt_DESC) {
                            title
                            rating
                            permalink
                            name
                            location
                            level
                            video
                            thumbnail {
                                url
                            }
                            description {
                                html
                            }
                        }
                    }`
				})
			}
		);

        const res = await api.json();
		
        if (api.ok) {
			resultsloded = true
			results = res.data.results
			mainResult = results[0]
        }	
        
	})

	const showReview = (link) => {

		mainResult = results.find( g => g.permalink === link )

        let buttons = document.querySelectorAll('.results-playlist-vids .res-link')

        for (const button of buttons) {
            if (button.getAttribute('name') == link) {
                button.classList.add('active')
            } else {
                button.classList.remove('active')
            }
        }
	}

	const parseVideo = (link) => {
		if (!link.includes('vimeo')) {
			return link
		} else {
        	return 'https://player.vimeo.com/video/' +  link.substr(18, 9)
		}
    }

	



</script>

<Header/>


<section class="featured">
    <div class="wrap">
    	<h1>How To Scale Into 7‑ and 8‑Figures By Leveraging Professional Grade Systems & Data, Full‑Scale PPC Advertising, Unique Products and a World‑Class Team</h1>
		
		<section>
			<img class="apex-program-graphic" src="/imgs/apex-seller-product-graphic.webp" width="537" height="392" alt="Apex Seller">

			<article>
				<h1>Apex Seller™</h1>
				<div class="ratings" use:links>
					<div class="imgRate star5"></div>
					<Router>
						<a href="/results" class="see-results">See student results</a>
					</Router>
					<!-- <Link to="/results" class="see-reviews">See student results</Link> -->
				</div>
				<div class="last-updated">Last updated: {lastDate}</div>
				
				<ul>
					<li><span class="imgCheck"></span><p>Gain laser clarity and focus</p></li>
					<li><span class="imgCheck"></span><p>Become scientific and data-driven</p></li>
					<li><span class="imgCheck"></span><p>Drive growth with full-scale PPC systems</p></li>
					<li><span class="imgCheck"></span><p>Dominate rankings and raise conversions</p></li>
					<li><span class="imgCheck"></span><p>Reduce costs and eliminate quality issues</p></li>
					<li><span class="imgCheck"></span><p>Hire and manage a world-class team</p></li>
					<li><span class="imgCheck"></span><p>Scale into 7‑figure profits</p></li>
				</ul>

				<a href="http://intoprofits.com/apply" class="button">APPLY NOW</a>
				
				<div class="no-worries">
					<h4>Got a team? No problem!</h4>
					<p>Give access to specific workflows, tools and training to hand-off the work.</p>
				</div>
			</article>
		</section>

    </div>
</section>


<section class="what-who-why">
	<div class="wrap">

		<section>
			<figure>
				<div class="imgWhoWhat stage"></div>
				<figcaption><b>Stage:</b>Scaling Up</figcaption>
			</figure>

			<figure>
				<div class="imgWhoWhat objective"></div>
				<figcaption><b>Objective:</b>7‑ to 8‑Figure Business</figcaption>
			</figure>

			<figure>
				<div class="imgWhoWhat length"></div>
				<figcaption><b>Length:</b>6 Weeks</figcaption>
			</figure>

			<figure>
				<div class="imgWhoWhat format"></div>
				<figcaption><b>Format:</b>Online</figcaption>
			</figure>

			<figure>
				<div class="imgWhoWhat access"></div>
				<figcaption><b>Access:</b> Lifetime</figcaption>
			</figure>
		</section>
		
		
		<article>
			<h4>What is Apex Seller™?</h4>
			<p>Apex Seller is a comprehensive 6-week training package that shows you how to scale a private label business into 7- and 8‑figures, while designing it to run and grow without you.</p>

			<h4>Who is it for?</h4>
			<p>Apex Seller is for private label sellers on Amazon that are already in business and making sales. It is for sellers that want to scale up and grow into 7- and 8‑figures.</p>

			<h4>How does it work?</h4>
			<p>The program starts the moment you enroll. Go through the training step-by-step, implement the workflows, ask questions when you need help, and get results.</p>
			
			<h4>Why does it exist?</h4>
			<p>Apex Seller exists because most established sellers are clueless when it comes to professional private label systems, scaling up, hiring &amp; managing a team, and making things predictable, data-driven and consistent.</p>
		</article>

	</div>
</section>


<section class="complete-connected">
	<div class="wrap">
        <article>
            <h1>Complete &amp; Connected</h1>
            <p>Forged in fire, our systems have evolved through continuous application since 2012. Most programs teach you siloed tactics but in the real-world everything is connected. And it’s the correct combination of every component that produces stunning results.</p>
        </article>

        <section>
			<figure>
				<div class="imgConnected focus"></div>
				<figcaption>
                    <h4>Focus</h4>
                    <p>Knowing what works and where to invest your time, energy and resources is critical for success. Most sellers get distracted and waste time where the ROI is low to none.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected strategy"></div>
				<figcaption>
                    <h4>Product strategy</h4>
                    <p>Crafting offers that are strategically superior to the competition is key for long-lasting success on Amazon. Most sellers offer “me-too” products and are fighting for scraps.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected chain"></div>
				<figcaption>
                    <h4>Supply chain</h4>
                    <p>Running a professional supply chain that is consistent and produces world-class products at low-cost. Most sellers go out of stock, have quality issues and waste money.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected cashflow"></div>
				<figcaption>
                    <h4>Cash flow</h4>
                    <p>Maximizing the cash utilization in your business means faster growth and more profits. Most sellers experience slow growth due to poor usage of cash and low profit-margins.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected systemdata"></div>
				<figcaption>
                    <h4>Systems &amp; data</h4>
                    <p>Building leveraged systems, designing your business for growth and using smart data. Most sellers hit a ceiling on growth due to a lack of structure, or one that doesn’t scale.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected advertising"></div>
				<figcaption>
                    <h4>Paid advertising</h4>
                    <p>Constructing campaigns at scale, testing, optimizing, expanding market share, dominating your market! Most sellers are stuck in the stone-age with Amazon PPC.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected optimization"></div>
				<figcaption>
                    <h4>Organic optimization</h4>
                    <p>Engineering product listings that rank for everything. Keyword usage and priority, indexation, page interactions, and more. Most sellers don’t make love to the machine.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected conversion"></div>
				<figcaption>
                    <h4>Conversions &amp; AOV</h4>
                    <p>Resonating with your market, creating offers that jump into the hands of new customers, architecting a higher AOV. Most sellers imitate and don’t know the art of salesmanship.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected hiring"></div>
				<figcaption>
                    <h4>Hiring &amp; managing a team</h4>
                    <p>Assembling a force and building a real business that runs and grows without you. Most sellers never decentralize, stay stuck and hire C-players that damage their business.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected operations"></div>
				<figcaption>
                    <h4>Operations</h4>
                    <p>Fine-tuning efficient, lean and transparent operations that deliver outstanding results. Most sellers build a bloated machine that drains profits and harms their ability to compete.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected automation"></div>
				<figcaption>
                    <h4>Scaling &amp; automation</h4>
                    <p>Identifying leverage points, refining the right parts at the right time, increasing automation. Most sellers can’t scale because their business gets worse if it grows.</p>
                </figcaption>
			</figure>
			
			<figure>
				<div class="imgConnected evolution"></div>
				<figcaption>
                    <h4>Product evolution</h4>
                    <p>Constantly iterating and improving your products and selection over time. Moving into customization and innovation. Most sellers never add genuine value to the marketplace.</p>
                </figcaption>
			</figure>
		</section>
	</div>
</section>


<section class="student-results">
	<div class="wrap">
	    <article>
            <h1>Proven Student Results</h1>
            <p>Does Apex Seller actually work? There is only one way to find out; by asking our students about their results with it in the real-world.</p>
            <span>Here is what our students have to say:</span>
        </article>

        {#if resultsloded}
            <div class="results-playlist">

                <div class="results-playlist-main iframe-wrap">
                    <iframe src="{parseVideo(mainResult.video)}" title="{mainResult.name}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
                </div>

                <div class="results-playlist-vids">
                    {#each results as result}

                        <div on:click="{() => showReview(result.permalink)}" class="res-link" name="{result.permalink}">

                            {#if result.thumbnail}
                                <img src="{result.thumbnail.url}" width="246" height="138" alt="{result.name}">
                            {:else}
                                <img src="/imgs/no-thumb.webp" width="500" height="281" alt="{result.name}">
                            {/if}

                            <div class="res-info">
                                <b>{result.name}</b>
                                <div class="res-level">{result.level} Figures</div>
                                <div class="res-rate"><div class="imgRate star{result.rating}"></div></div>
                            </div>
                        </div>

                    {/each}
                </div>
            </div>
        {:else}
            <div class="loader"></div>
        {/if}
       

        <nav>
            <div class="imgFeatured ratings"></div>
            <div class="imgFeatured forbes"></div>
            <div class="imgFeatured huffpost"></div>
            <div class="imgFeatured bbc"></div>
        </nav>

        <Link to="/results" class="see-reviews">See more of our student success stories</Link>

	</div>
</section>


<section class="curriculum">
	<div class="wrap">

		<article>
			<h1>Apex Seller&#8482; Course Curriculum</h1>
			<p>In 6 short weeks, you will transform your business into a sophisticated machine that can run and grow without you. Here is how:</p>
		</article>		
		
		<Curriculum/>
		
	</div>
</section>


<section class="components">
	<div class="wrap">
		<article>
			<h1>Apex Seller™ Program Components</h1>
			<p>This is not your typical “training course”. This is a comprehensive business‑package that’s designed for CEO’s and their teams. It contains everything you need to expand your awareness, implement efficiently, get results and grow your business in record‑time.</p>
		</article>

		<section class="component-icons">
	
			<MediaQuery query="(max-width: 800px)" let:matches>
				{#if matches}
					<figure>
						<div class="imgComponents portal"></div>
						<figcaption>
							<h4>Online Content Portal</h4>
							<p>Watch training videos in beautiful 1080 HD, listen to mp3 recordings or read the text transcripts. Enjoy the training online from any device, at any time and from any location.</p>
						</figcaption>
					</figure>

					<figure>
						<div class="imgComponents documents"></div>
						<figcaption>
							<h4>Proprietary Process Documents</h4>
							<p>Delegate core processes quickly and easily with our fully laid-out workflows and process documents. Exclusive to Apex Seller students, we include more than 50 proprietary process documents and tools in the program.</p>
						</figcaption>
					</figure>
					
					<figure>
						<div class="imgComponents qanda"></div>
						<figcaption>
							<h4>Live Q&amp;A Calls</h4>
							<p>Get the help you need to take action and get results with our live, interactive 2x per week Q&amp;A calls. Receive personalized mentorship to troubleshoot your problems and provide clear direction.</p>
						</figcaption>
					</figure>

					<figure>
						<div class="imgComponents community"></div>
						<figcaption>
							<h4>Exclusive Student Community</h4>
							<p>Network with other 6-, 7‑ and even 8‑figure private label CEO’s inside our exclusive student community. Collaborate, build valuable connections, learn and grow.</p>
						</figcaption>
					</figure>
					
					<figure>
						<div class="imgComponents software"></div>
						<figcaption>
							<h4>Private Industrial Grade Software</h4>
							<p>Access a custom‑built software solution that is not accessible to anyone outside of Apex Seller™ alumni. Get on the cutting‑edge of automation and machine‑learning technology for private label sellers.</p>
						</figcaption>
					</figure>
				{/if}
			</MediaQuery>

			<MediaQuery query="(min-width: 801px)" let:matches>
				<!-- desktop  -->
				{#if matches}
				<div class="desktop">
					<figure>
						<div class="imgComponents portal"></div>
						<figcaption>
							<h4>Online Content Portal</h4>
							<p>Watch training videos in beautiful 1080 HD, listen to mp3 recordings or read the text transcripts. Enjoy the training online from any device, at any time and from any location.</p>
						</figcaption>
					</figure>

					<figure>
						<figcaption>
							<h4>Proprietary Process Documents</h4>
							<p>Delegate core processes quickly and easily with our fully laid-out workflows and process documents. Exclusive to Apex Seller students, we include more than 50 proprietary process documents and tools in the program.</p>
						</figcaption>
						<div class="imgComponents documents"></div>
					</figure>
					
					<figure>
						<div class="imgComponents qanda"></div>
						<figcaption>
							<h4>Live Q&amp;A Calls</h4>
							<p>Get the help you need to take action and get results with our live, interactive 2x per week Q&amp;A calls. Receive personalized mentorship to troubleshoot your problems and provide clear direction.</p>
						</figcaption>
					</figure>

					<figure>
						<figcaption>
							<h4>Exclusive Student Community</h4>
							<p>Network with other 6-, 7‑ and even 8‑figure private label CEO’s inside our exclusive student community. Collaborate, build valuable connections, learn and grow.</p>
						</figcaption>
						<div class="imgComponents community"></div>
					</figure>
					
					<figure>
						<div class="imgComponents software"></div>
						<figcaption>
							<h4>Private Industrial Grade Software</h4>
							<p>Access a custom‑built software solution that is not accessible to anyone outside of Apex Seller™ alumni. Get on the cutting‑edge of automation and machine‑learning technology for private label sellers.</p>
						</figcaption>
					</figure>
				</div>
				{/if}
			</MediaQuery>

		</section>
		
	</div>
</section>


<section class="requirements">
	<div class="wrap">
		<h1>Apex Seller™ Entry Requirements</h1>

		<section>
			<article>
				<h3>Program Overview</h3>
				<section>
					<figure>
						<div class="imgWhoWhat stage"></div>
						<figcaption><b>Stage:</b>Scaling Up</figcaption>
					</figure>
		
					<figure>
						<div class="imgWhoWhat objective"></div>
						<figcaption><b>Objective:</b>7‑ to 8‑Figure Business</figcaption>
					</figure>
		
					<figure>
						<div class="imgWhoWhat length"></div>
						<figcaption><b>Length:</b>6 Weeks</figcaption>
					</figure>
		
					<figure>
						<div class="imgWhoWhat format"></div>
						<figcaption><b>Format:</b>Online</figcaption>
					</figure>
		
					<figure>
						<div class="imgWhoWhat access"></div>
						<figcaption><b>Access:</b> Lifetime</figcaption>
					</figure>
				</section>
			</article>		
			
			<article>
				<h3>Entry Requirements</h3>
				<p><b>1. Experience</b>You must be in business and making daily sales on Amazon</p>
				<p><b>2. Business type </b>You must be selling your own private label / branded products</p>
				<p><b>3. Commitment</b>You must be 100% committed to your business and willing to do the work</p>
			</article>
			
			<article>
				<h3>Application Process</h3>
				<p><b>How it works</b>To ensure the highest quality for every member of Apex Seller™, we only take in a limited amount of new students at a time. We also have to make sure you’ve reached the stage where our methodology can be implemented effectively. Therefore our application process consists of a short form and a quick call with a member of our team.</p>
				<p><b>Free call</b>After you submit the application form, you will be taken to a page to schedule your free call with someone from our team. On this call we will explore your current situation and find out if Apex Seller™ is a good fit for you and your business. If it is, you will be invited to join. There is no application fee.</p>
				<a href="http://intoprofits.com/apply" id="btn_app_process" class="button">APPLY NOW</a>
			</article>
		</section>
	</div>
</section>


<section class="featured two">
    <div class="wrap">
    	<h1>Here Is An Overview Of Everything You Get</h1>
		
		<section>
			<img class="apex-program-graphic" src="/imgs/apex-seller-product-graphic.webp" width="537" height="392" alt="Apex Seller">

			<article>
				<h1>Apex Seller™</h1>
				<div class="ratings" use:links>
					<div class="imgRate star5"></div>
					<Router>
						<a href="/results" class="see-results">See student results</a>
					</Router>
				</div>
				<div class="last-updated">Last updated: {lastDate}</div>
				
				<ul>
					<li><span class="imgCheck"></span><p>Gain laser clarity and focus</p></li>
					<li><span class="imgCheck"></span><p>Become scientific and data-driven</p></li>
					<li><span class="imgCheck"></span><p>Drive growth with full-scale PPC systems</p></li>
					<li><span class="imgCheck"></span><p>Dominate rankings and raise conversions</p></li>
					<li><span class="imgCheck"></span><p>Reduce costs and eliminate quality issues</p></li>
					<li><span class="imgCheck"></span><p>Hire and manage a world-class team</p></li>
					<li><span class="imgCheck"></span><p>Scale into 7‑figure profits</p></li>
				</ul>

				<a href="http://intoprofits.com/apply" class="button">APPLY NOW</a>
				
				<div class="no-worries">
					<h4>Got a team? No problem!</h4>
					<p>Give access to specific workflows, tools and training to hand-off the work.</p>
				</div>
			</article>
		</section>

    </div>
</section>


<section class="get-started">
	<p>Get started for free</p>
	<a href="http://intoprofits.com/apply" class="button">APPLY TODAY</a>
</section>



<Footer/>

<style type="text/scss">

.featured {
	padding: 3rem 1rem;
	margin-top: 64px;
	text-align: center;

	&.two {
		background: #efefef;
		margin-top: 0;

		article  {
			background: #fff;
		}
	}

	h1 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		line-height: 2rem;
	}

	section {
		display: block;

		img {
			margin-bottom: 3rem;
		}

		article  {
			background: #efefef;
			padding: 2rem 1rem;
			font-size: 1.5rem;

			h1 {
				font-size: 2rem;
			}

			.ratings {
				margin: 0;

				a {
					position: relative;
					top: -6px;
					font-size: 0.9rem;
					margin-left: 0.6rem;
					text-decoration: underline;
					text-underline-position: under;
				}
			}

			.last-updated {
				padding: 0.4rem 0.6rem;
				background: #d7ecbc;
				border-radius: 2px;
				font-size: 0.9rem;
				display: inline-block;
				font-weight: normal;
			}

			.no-worries {
				background: #d1dfee;
				margin: 2rem 0 0 0;
				padding: 0.8rem;

				h4 {
					margin: 0;
				}
			}

			ul {
				list-style: none;
				line-height: 3rem;
				margin: 2rem 0;
				padding: 0;
				font-size: 1.35rem;
				position: relative;
				display: block;
				text-align: left;

				li	 {
					line-height: 1.1rem;
					margin-bottom: 0.3rem;
					display: grid;
					grid-template-columns: 30px auto;

					p	{
					    font-size: 0.9rem;
						margin-top: 0.2rem;
						line-height: 1.1rem;
					}
				}

				
			}

			.button {
				display: block;
				text-align: center;
				font-size: 1.4rem;
				font-weight: bold;
			}


		}
	}
}

.what-who-why {
	padding: 3rem 1rem;
	text-align: left;
	background: #efefef;

	section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
		justify-items: stretch;
		align-items: stretch;
		margin-bottom: 3rem;
		text-align: center;

		figure {
			margin: 0;
			font-size: 0;

			figcaption {
				font-size: 0.9rem;
				b {
					display: block;
					font-size: 1rem;
					line-height: 1.3rem;
				}
			}

			
		}
	}
}

.complete-connected {
    padding: 3rem 1rem;

    article {
        text-align: center;
        margin-bottom: 2rem;

        p {
            font-size: 1.2rem;
        }
    }

    section {
        figure {
            display: grid;
            grid-template-columns: 90px auto;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 1rem;
            align-items: center;
            margin-bottom: 2rem;

            &:last-child {
                margin: 0;
            }
        }
        h4 {
            margin-bottom: .5rem;
            line-height: 1.5rem;
        }
    }
}

.student-results {
	background: #efefef;
    padding: 3rem 1rem;
	text-align: center;

    article {
        margin-bottom: 2rem;

        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
    }

    nav {
        display: grid;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    
}

.curriculum {
	padding: 3rem 1rem;
	text-align: center;

	article {
		margin: 3rem 0;

		p {
			font-size: 1.2rem;
		}
	}
}

.components {
	padding: 3rem 1rem;
	text-align: center;
	background: #efefef;

	article {
		margin-bottom: 3rem;

		p {
			font-size: 1.2rem;
		}
	}

	section {
		.desktop {
			figure {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 2rem;
				align-items: center;
			}
		}
		figure {
			margin-bottom: 3rem;

			figcaption {
				text-align: right;

				h4 {
					font-size: 1.4rem;
				}
				p {
					font-size: 1.1rem;
				}
			}

			&:last-child {
				margin: 0;
			}

			&:nth-child(odd) {
				figcaption {
					text-align: left;
				}
			}
		}
	}

	
}

.requirements {
	padding: 3rem 1rem;

	h1 {
		margin-bottom: 3rem;
		text-align: center;
		font-size: 2.2rem;
	}

	section {
		display: block;

		article {
			margin-bottom: 1rem;
			background: #efefef;
			padding: 1rem;

			h3 {
				text-align:center;
			}

			&:first-child {
				section {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					grid-auto-rows: minmax(100px, auto);
					grid-gap: 1rem;
					justify-items: stretch;
					align-items: stretch;
					text-align: center;

					figure {
						margin: 0;
						font-size: 0;

						figcaption {
							font-size: 0.9rem;
							b {
								display: block;
								font-size: 1rem;
								line-height: 1.3rem;
							}
						}

						
					}
				}
			}
			
		}
	}


    b {
        display: block;
        margin: 0 0 .5rem;
    }

    a.button {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }
}

.get-started {
	background: #d5d5d5;
	padding: 3rem 1rem;
	text-align: center;

	p {
		font-size: 1.3rem;
	}

    a.button {
        display: block;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        max-width: 450px;
        margin: 0 auto;
    }
}

/* icons */
.imgComponents {
    background: url(../imgs/apex-seller-sprite.webp) no-repeat -388px 2px;
    width: 330px;
    height: 240px;
    display: block;
    margin: 0 auto;

    &.documents {
        background-position: -1068px -1px;
        width: 338px;
        height: 262px;
    }
    &.qanda {
        background-position: -376px -236px;
        width: 400px;
        height: 266px;
    }
    &.community {
        background-position: -801px -269px;
        width: 324px;
        height: 252px;
    }
    &.software {
        background-position: -728px -8px;
        width: 318px;
        height: 220px;
    }

   
}

@media (min-width: 768px) {
	.featured {

		h1 {
			font-size: 2rem;
			margin-bottom: 2.5rem;
			line-height: 2.4rem;
		}
		section {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			align-items: center;

			article {
				text-align: left;

				h1 {
					margin: 0;
				}
			}
		}
	}

	.what-who-why {
		.wrap {
			display: grid;
			grid-template-columns: 190px auto;
			align-items: center;
			gap: 1rem;
			max-width: 980px;
		}
		section {
			grid-template-columns: 1fr;
			margin: 0;

			figure {
				display: grid;
				grid-template-columns: 70px auto;
				text-align: left;
				gap: 1rem;
				align-items: center;
			}

		}
	}

	.complete-connected {
        padding: 6rem 1rem;
        
        article {
            max-width: 800px;
            margin: 0 auto 3rem;

			h1 {
				font-size: 2.2rem;
			}

            p {
                font-size: 1.4rem;
            }
        }

        section {
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 1rem;

           figure {
			margin: 0;
			background: #efefef;
			padding: 1rem;
           }
        }
    }

	.student-results {
		article {
			margin-bottom: 2rem;
			max-width: 800px;
			margin: 0 auto 3rem;

			h1 {
				font-size: 2.2rem;
			}
			p {
				font-size: 1.4rem;
			}

			span {
				font-size: 1.2rem;
			}
		}
		nav {
			grid-template-columns: repeat(4, 1fr);
			margin-bottom: 3rem;
		}
	}

	.curriculum {
		article {
			margin-bottom: 2rem;
			max-width: 800px;
			margin: 0 auto 3rem;

			h1 {
				font-size: 2.2rem;
			}
			p {
				font-size: 1.4rem;
			}

			span {
				font-size: 1.2rem;
			}
		}
	}

	.components {
		article {
			margin-bottom: 2rem;
			max-width: 800px;
			margin: 0 auto 3rem;

			h1 {
				font-size: 2.2rem;
			}
			p {
				font-size: 1.4rem;
			}
		}

		section {
			.desktop {
				max-width: 960px;
				margin: 0 auto;
			}
		}
	}
}

@media (min-width: 960px) {
	.featured {

		h1 {
			font-size: 2.5rem;
			margin-bottom: 3rem;
			line-height: 3.5rem;
		}
		section {
			grid-template-columns: auto 480px;
			max-width: 1080px;
			margin: 0 auto;

			img {
				margin: 0 auto;
			}

			article {
				text-align: left;
				font-size: 1rem;
				padding: 2rem;

				h1 {
					margin: 0 0 0.5rem;
					font-size: 3rem;
				}

				ul li p {
					font-size: 1.2rem;

				}

			}
		}
	}

	.what-who-why {
		article {
			p {
				font-size: 1.1rem;
			}
		}
	}

	.requirements {
		section {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1rem;

			article {
				padding: 2rem;
				h3 {
					text-align: left;
					font-size: 1.5rem;
				}
			}
		}
	}

	.get-started {
		padding: 6rem;

		p {
			font-size: 1.5rem;
		}
	}
}

@media (min-width: 1280px) {

	.complete-connected {
		section {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 1.4rem;
		}
	}
}
</style>
