<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import Sidebar from '../components/Sidebar.svelte';
    import { onMount } from 'svelte'

    export let slug;

    const apiUrl = siteData.env.API_URL
    
    let post = {}
    let loaded = false

    let thumbnail = false
    let video = false
    let transcript = false
    let audio = false

    let transcriptAudioToggle = true
    let transcriptReadmore = false

	onMount(async () => {

        const api = await fetch(apiUrl, {
				method: "post",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({
					query: `query channel {
                        channel(where: {permalink: "${slug}"}) {
                            id
                            permalink
                            video
                            title
                            transcript {
                            html
                            }
                            thumbnail {
                                url
                            }
                            content {
                                html
                            }
                            audio {
                                url
                            }
                        }
                    }`
				})
			}
		);

        const res = await api.json();

        
        if (api.ok ) {
            
            post = res.data.channel
            loaded = true

            if (post.thumbnail != null) { thumbnail = true }
            if (post.video != null) { video = true }
            if (post.audio != null) { audio = true }
            if (post.transcript != null) { transcript = true }
            
        }

		
	})

    // curently supports youtube embeds only
    const embedLink = (l) => {
         return l.replace(/youtu.be|youtube.com/gi, "youtube.com/embed");
    } 

</script>

<Header/>
<main>
	<div class="wrap">
        <section>
            {#if loaded}
                <h1>{post.title}</h1>
                <p class="article-author">Daniel Audunsson</p>

                {#if !video && !thumbnail}
                    <img style="margin-bottom: 1rem; width: 100%" src="../imgs/no-thumb.webp" alt="No Thumbnail">
                {:else if video }
                    <div id="featured_media">
                        <div class="iframe-wrap">
                            <iframe title="{post.title}" width="640" height="360" src="{embedLink(post.video)}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div>
                    </div>
                {:else}
                    <p><img src="{post.thumbnail.url}" alt="{post.title}"></p>
                {/if}
                
                <div class="content">{@html post.content.html}</div>

                {#if audio && transcript}
                    <!-- show both -->

                    <div class="transcript-audio-menu">
                        <button class:active={transcriptAudioToggle} on:click="{() => transcriptAudioToggle = !transcriptAudioToggle}">Transcript</button>
                        <button class:active={!transcriptAudioToggle} on:click="{() => transcriptAudioToggle = !transcriptAudioToggle}">Audio / MP3</button>
                    </div>

                    <div class:active={!transcriptAudioToggle} class="audio">
                        <!-- svelte-ignore a11y-media-has-caption -->
                        <audio controls>
                            <source src="{post.audio.url}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>

                    <div class:active={transcriptAudioToggle} class="trnscpt-wrap">
                        <div class:active={transcriptReadmore} class="transcript">
                            {@html post.transcript.html}
                            <div class="readmore">
                                {#if !transcriptReadmore}
                                <button on:click="{() => transcriptReadmore = !transcriptReadmore}">Read More <span class="icon-caret-down"></span></button>
                                {:else}
                                <button on:click="{() => transcriptReadmore = !transcriptReadmore}">Read Less <span class="icon-caret-up"></span></button>
                                {/if}
                            </div>
                        </div>
                    </div>
                
                {:else if audio && !transcript}
                    <!-- show only audio -->

                    <h3>Audio</h3>
                    <!-- svelte-ignore a11y-media-has-caption -->
                    <audio controls>
                        <source src="{post.audio.url}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>

                {:else if !audio && transcript}
                    <!-- show only transcript -->

                    <h3>Transcript</h3>
                    <div class:active={transcriptReadmore} class="transcript">
                        {@html post.transcript.html}
                        <div class="readmore">
                            {#if !transcriptReadmore}
                            <button on:click="{() => transcriptReadmore = !transcriptReadmore}">Read More <span class="icon-caret-down"></span></button>
                            {:else}
                            <button on:click="{() => transcriptReadmore = !transcriptReadmore}">Read Less <span class="icon-caret-up"></span></button>
                            {/if}
                        </div>
                    </div>

                {:else}
                    <h3>Transcript & Audio not available.</h3>
                {/if}

                

            {:else}
                <div class="loader"></div>
            {/if}
        </section>
        <aside>
            <Sidebar/>
        </aside>
	</div>
</main>
<Footer/>


<style type="text/scss">

main {
    margin-top: 64px;
    padding: 1rem;

    section {
        h1 {
            line-height: 2rem;
        }

        .content {
            margin-bottom: 3rem;
        }

        .transcript-audio-menu {
            margin-bottom: 1rem;

            button {
                padding: .4rem 1rem;
                font-size: 0.9rem;
                background: rgb(185, 185, 185);

                &.active {
                    background:#0047ab;
                }
            }
        }

        .trnscpt-wrap {
            display: none;
            &.active {
                display: block;
            }
        }
        .transcript {
            background: #f5f5f5;
            padding: 1.2rem 1.2rem 80px;
            border: 1px solid #e1e1e1;
            height: 300px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;

            &.active {
                overflow: none;
                height: auto;
            }

            .readmore {
                background-image: linear-gradient(#ff000000, #f5f5f5);
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                height: 100px;
                text-align: center;

                button {
                    position: relative;
                    top: 50px;
                    background: #0047ab;
                    color: #FFFFFF;
                    font-size: 14px;
                    padding: 6px 18px;
                    display: inline-block;
                    cursor: pointer;

                    span {
                        margin-left: .5rem;
                    }
                }
            }

        }

        .audio {
            display: none;
            background: #f5f5f5;
            padding: 0 30px;
            border: 1px solid #e1e1e1;
            margin-bottom: 20px;

            &.active {
                display: block;
            }

            audio {
                width: 100%;
                display: block;
                padding: 10px 0;
            }
        }


    }
}

@media (min-width: 769px ) {
	main {
		.wrap {
			display: grid;
			grid-template-columns: auto 330px;
			gap: 1rem;
		}
	}
}

@media (min-width: 1025px ) {
	main {
		padding: 3rem;

		.wrap {
			gap: 3rem;
		}
	}
}

</style>