<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import Sidebar from '../components/Sidebar.svelte';
</script>

<Header/>
<section>
	<div class="wrap">
        <article>
            <h1>Want to get in touch? Let’s talk!</h1>
            <p>To get in touch simply email us at <a href="mailto:support@intoprofits.com">support@intoprofits.com</a></p>
            <p>We aim to respond to all enquiries within 1 business day. We operate Monday – Friday 9am – 5pm HKT (Hong Kong).</p>
            <p>Our head office is located in Hong Kong. If you require postal information please contact us.</p>
            <p>Sincerely, <br> The Into Profits team</p>
        </article>
        <aside>
            <Sidebar/>
        </aside>
    </div>
</section>
<Footer/>

<style lang="scss">
section {
    padding: 3rem 1rem;
    margin-top: 64px;

    article {
        margin-bottom: 2rem;

        h1 {
            font-size: 1.8rem;
        }
    }
}

@media (min-width: 768px) {
    section {
        padding: 6rem 1rem;
        .wrap {
            max-width: 1000px;
            display: grid;
            grid-template-columns: auto 340px;
            gap: 1rem;

            article {
                h1 {
                    font-size: 2.1rem;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}
</style>