<section>
    <h1>Nothings here..</h1>
    <p>Please go back home</p>
</section>

<style lang="scss">
    section {
        padding: 3rem;
        text-align: center;

        h1 {
            margin-bottom: 0;
        }
    }
</style>