<script>
    import { onMount } from 'svelte'

    const apiUrl = process.env.API_URL
    // const apiKey = process.env.API_KEY

    export let slug;

    let link
    let clicks
    let status = 'You will be redirected in a moment...'

    onMount(async () => {

        const api = await fetch(apiUrl, {
                method: "post",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    query: `query getlink {
                        link(where: {link: "${slug}"}) {
                            clicks
                            link
                        }
                    }`
                })
            }
        )

        const res = await api.json();
        
        if (api.ok) {

            console.log(res)
            console.log(api)

            link = res.data.link

            if (!link) {
                notFound()
            } else {

                clicks = res.data.link.clicks
                getTarget()

            }

        } else {
            notFound()
        }
        
    })


    let notFound = () => {

        status = 'The link you visited doesnt exist or have been permanently moved.'
    }

    let getTarget = () => {

        fetch(apiUrl, {
				method: "post",
				headers: {
                    "Authorization": `Bearer ${apiKey}`,
                    "Content-Type": "application/json"
                },
				body: JSON.stringify({
                        query: `mutation updateLink {
                        updateLink(data: {clicks: ${clicks + 1}}, where: {link: "${slug}"}) {
                            target
                        }
                        
                    }`

                    // publishLink(where: {link: "${slug}"}) {
                //         clicks
                //     }
				})
			}
		).then(
			function(res){

                res.json().then(function(data) {

                window.location.href = data.data.updateLink.target

            });
        }
    )}

</script>

<section>
    <img class="logo" src="/imgs/logo-black.webp" alt="Into Profits" width="200" height="23">
    <h3>{status}</h3>
</section>

<style lang="scss">
    section {
        padding: 3rem;
        text-align: center;

        img {
            margin-bottom: 3rem;
        }
    }
</style>