<script>
    import { Link } from "svelte-routing";
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
</script>

<Header/>
<section>
    <div>
        <h1>404 Not Found</h1>
        <p>Seems like you're lost. Please Go back <Link to="/">Home</Link></p>
    </div>
</section>
<Footer/>

<style type="text/scss">

    section {
        display:grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 70vh;

        div {
            max-width: 500px;

            h1 {
                font-size: 2rem;
            }
        }
    }

</style>