<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import { onMount } from 'svelte';

    const apiUrl = siteData.env.API_URL

    let contents = {}
    let currentPage
    let contentloaded = false

	onMount(async () => {
		const api = await fetch(apiUrl, {
				method: "post",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({
					query: `query legal {
                        legals {
                            title
                            permalink
                            content {
                            html
                            }
                        }
                    }`
				})
			}
		);
		const res = await api.json();

        contents = res.data.legals
        currentPage = contents[0]

        if (api.ok) {
            contentloaded = true
        }
        
	})

    const toggleMenu = (e) => {

        let buttons = document.querySelectorAll('nav button')

        for (const button of buttons) {
            if (button.getAttribute('id') == e) {
                button.classList.add('active')
            } else {
                button.classList.remove('active')
            }
        }

        currentPage = contents.find( g => g.permalink === e )
    }

</script>

<Header/>

{#if contentloaded == true}

<section>
	<div class="wrap clear">
		<aside>
            <nav>
                {#each contents as menu}
                    {#if (menu.permalink == 'privacy-policy')}
                        <button class="active" on:click="{toggleMenu(menu.permalink)}" id="{menu.permalink}">{menu.title}</button>
                    {:else}
                        <button on:click="{toggleMenu(menu.permalink)}" id="{menu.permalink}">{menu.title}</button>
                    {/if}
                {/each}
            </nav>
        </aside>

		<article>
            <h1>{currentPage.title}</h1>
            {@html currentPage.content.html}
        </article>
    </div>
</section>

{:else}
    <div class="loader"></div>
{/if}

<Footer/>

<style type="text/scss">

section {
    margin-top: 64px;
    padding: 2.5rem 1rem;

    .wrap {
        max-width: 1030px;
    }
    nav {
        margin-bottom: 2rem;

        button {
            padding: 0.5rem 1rem;
            display: block;
            font-size: 0.8rem;
            width: 100%;
            outline: none;
            margin-bottom: 0.3rem;

            &.active {
                color: #fff;
                background: #357de2;
            }
        }
    }
}


@media (min-width: 481px ) {
    section {
        nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;

            button {
                margin: 0;
            }
        }
    }

}

@media (min-width: 769px ) {
    section {
        .wrap {
            display: grid;
            grid-template-columns: 190px auto;
            gap: 2rem;
        }
        article {
            h1 {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }
        nav {
            display: block;
            position: fixed;

            button {
                margin-bottom: 0.3rem;
                font-size: 1.1rem;
                text-align: right;
                background: none;
                color: #0047ab;

                &.active {
                    background: #0355c7;
                }
            }
        }
    }

}

</style>