<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import Sidebar from '../components/Sidebar.svelte';
    import ReviewThumb from '../components/reviewThumb.svelte';
    import { onMount } from 'svelte'

    export let slug;

    const apiUrl = siteData.env.API_URL

    let post = {}
    let results = []
    let modal = false
    let modalContents

	onMount(async () => {

        const api = await fetch(apiUrl, {
				method: "post",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({
					query: `query results {
                        results(orderBy: createdAt_DESC) {
                            title
                            rating
                            permalink
                            name
                            location
                            level
                            video
                            thumbnail {
                            url
                            }
                            transcript {
                            html
                            }
                            description {
                            html
                            }
                        }
                    }`
				})
			}
		)

        const res = await api.json();

        console.log(api, res)

        if (api.ok) {

            results = res.data.results
            post = results.find(g => g.permalink == slug)
        }

		
	})

    $:if (modal) {
        document.querySelector('html').style.overflow = 'hidden'
    } else {
        document.querySelector('html').style.overflow = 'auto'
    }

    let showModal = (link) => {
        console.log(link)
        
        modalContents = results.find(g => g.permalink == link)

        console.log(modalContents)
        modal = true
    }

    let parseVideo = (link) => {
        if (!link.includes('vimeo')) {
			return link
		} else {
        	return 'https://player.vimeo.com/video/' +  link.substr(18, 9)
		}
    }

    let metricScroll = () => {
		
        let scroll = window.scrollY
        let containerHeight = document.querySelector( "section.result aside" ).offsetHeight + 100
        let metricHeight = document.querySelector( "section.result aside div" ).offsetHeight
        let cutPoint = containerHeight - metricHeight
        console.log(scroll)
    
        if (scroll > cutPoint) {
            document.querySelector( "section.result aside div" ).classList.add('float-sidebar')
        } else {
            document.querySelector( "section.result aside div" ).classList.remove('float-sidebar')
        }

	}

</script>

<svelte:window on:scroll="{() => metricScroll()}"/>

<Header/>

<section class="result">
    <div class="wrap">
        <section>
            {#if results.length != 0}
                <h1>{post.title}</h1>

                <div class="results-playlist-main iframe-wrap">
                    <iframe src="{parseVideo(post.video)}" title="{post.name}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
                </div>

                <div class="name-loc-rate">
                    <div class="vidInf">
                        <span class="labLe">NAME:</span><span class="exc-nme">{post.name}</span>
                    </div>
                    <div class="vidInf">
                        <span class="labLe">LOCATION:</span><span class="exc-loc">{post.location}</span>
                    </div>
                    <div class="vidInf">
                        <span class="labLe">LEVEL:</span><span class="exc-lvl">{post.level} Figures</span>
                    </div>
                    <div class="vidInf">
                        <span class="labLe">RATING:</span><span class="imgRate star{post.rating}"></span>
                    </div>
                    {#if post.description != null}
                        <div class="vidInf">
                            <span class="labLe">DESCRIPTION:</span>
                            <div class="exc-desc">{@html post.description.html}</div>
                        </div>
                    {/if}
                    
                    {#if post.transcript != null}
                        <div class="vidInf">
                            <span class="labLe">TRANSCRIPT:</span>
                            <div class="exc-trans">{@html post.transcript.html}</div>
                        </div>
                    {/if}
                    </div>

            {:else}
                <div class="loader"></div>
            {/if}
        </section>
        <aside>
            <Sidebar/>
        </aside>
    </div>
</section>

<section class="other-res">
    <div class="wrap">
        <h1>Other Results</h1>
        <section>
            {#each results as post}
                <article on:click="{showModal(post.permalink)}" >
                    <ReviewThumb post={post}/>
                </article>
            {/each}
        </section>
    </div>
</section>

{#if modal}
    <section id="resultModal">
        <div class="review-excerpt-wrap">
            <span class="close-modal" on:click="{() => modal = !modal}"><i class="icon-cross"></i></span>

            <h1>{modalContents.title}</h1>

            <div class="results-playlist-main iframe-wrap">
                <iframe src="{parseVideo(modalContents.video)}" title="{modalContents.name}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
            </div>

            <!-- video -->
            <div class="exc-vid">
                
            </div>

            <!-- name, location, rating -->
            <div class="name-loc-rate">
                <div class="vidInf">
                    <span class="labLe">NAME:</span><span class="exc-nme">{modalContents.name}</span>
                </div>
                <div class="vidInf">
                    <span class="labLe">LOCATION:</span><span class="exc-loc">{modalContents.location}</span>
                </div>
                <div class="vidInf">
                    <span class="labLe">LEVEL:</span><span class="exc-lvl">{modalContents.level} Figures</span>
                </div>
                <div class="vidInf">
                    <span class="labLe">RATING:</span><span class="imgRate star{modalContents.rating}"></span>
                </div>
            </div>

            <!-- description -->
            <span class="labLe">DESCRIPTION:</span>
            <div style="margin:  8px 0 30px;" class="exc-desc">
                {#if modalContents.description != null}
                    {@html modalContents.description.html}
                {/if}
            </div>

            <!-- button and footer -->
            <div class="revFoot">
                <a href="/case-study" class="button">Free Case Study</a>
                
                <p>Or, read more about <a href="/results/{modalContents.permalink}"><span class="exc-nme2">{modalContents.name}</span>'s story here.</a></p>
            </div>
            
        </div>
    </section>
{/if}

<Footer/>

<style lang="scss">
    
.result {
    margin-top: 64px;
    padding: 1rem;

    

    section {
        display: block;

        h1 {
            font-weight: normal;
            font-size: 1.4rem;
            line-height: 1.6rem;
            
        }

        .iframe-wrap {
            margin-bottom: 1.5rem;
        }
    }

    aside {
        position: relative;
    }
}

.other-res {
    padding: 1rem;
}


@media (min-width: 768px) {

    .result {
        .wrap {
            display: grid;
            grid-template-columns: auto 330px;
            gap: 1rem;
        }

        section {
            h1 {
                font-size: 1.8rem;
                line-height: 2rem;
            }
        }
    }

    .other-res {
       section {
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 1rem;
       }
    }
}


@media (min-width: 1025px ) {
	.result {
		padding: 3rem;

		.wrap {
			gap: 3rem;
		}
	}

    .other-res {
        padding: 3rem;
    }
}
</style>