<script>
    import Header from '../components/Header.svelte';
    import Footer from '../components/Footer.svelte';
    import ReviewThumb from '../components/reviewThumb.svelte';
    import { Link } from "svelte-routing";
    import { onMount } from 'svelte'

    const apiUrl = siteData.env.API_URL

    let results = []
    let modalContents
    let modal = false

    $:if (modal) {
        document.querySelector('html').style.overflow = 'hidden'
    } else {
        document.querySelector('html').style.overflow = 'auto'
    }

	onMount(async () => {
		const api = await fetch(apiUrl, {
				method: "post",
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify({
					query: `query results {
                        results(orderBy: createdAt_DESC) {
                            title
                            rating
                            permalink
                            name
                            location
                            level
                            video
                            thumbnail {
                            url
                            }
                            description {
                            html
                            }
                        }
                    }`
				})
			}
		)

        const res = await api.json();
        results = res.data.results

	})

    let showModal = (link) => {
        modalContents = results.find(g => g.permalink == link)
        modal = true
    }

    

    let parseVideo = (link) => {
        if (!link.includes('vimeo')) {
			return link
		} else {
        	return 'https://player.vimeo.com/video/' +  link.substr(18, 9)
		}
    }

</script>

<Header/>

<section class="head">
    <div class="wrap">
        <h1>Student Results</h1>
        <p>Our students have a unique advantage and they get real-life business results. <br> But you don’t have to take our word for it: Hear what they have to say.</p>
    </div>
    <img src="/imgs/results-bg.webp" alt="Student Results">
</section>

<section class="results">
	<div class="wrap">
        {#if results.length != 0}
        <section>
            {#each results as post}
                <article on:click="{showModal(post.permalink)}" >
                    <ReviewThumb post={post}/>
                </article>
            {/each}
        </section>
        {:else}
            <div class="loader"></div>
        {/if}
    </div>
</section>


<section class="case-study">
    <a href="http://intoprofits.com/case-study" class="button go-intoprofits">Access The Free Case Study</a>
</section>

{#if modal}
    <section id="resultModal">
        <div class="review-excerpt-wrap">
            <span class="close-modal" on:click="{() => modal = !modal}"><i class="icon-cross"></i></span>

            <h1>{modalContents.title}</h1>

            <div class="results-playlist-main iframe-wrap">
                <iframe src="{parseVideo(modalContents.video)}" title="{modalContents.name}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
            </div>

            <!-- video -->
            <div class="exc-vid">
                
            </div>

            <!-- name, location, rating -->
            <div class="name-loc-rate">
                <div class="vidInf">
                    <span class="labLe">NAME:</span><span class="exc-nme">{modalContents.name}</span>
                </div>
                <div class="vidInf">
                    <span class="labLe">LOCATION:</span><span class="exc-loc">{modalContents.location}</span>
                </div>
                <div class="vidInf">
                    <span class="labLe">LEVEL:</span><span class="exc-lvl">{modalContents.level} Figures</span>
                </div>
                <div class="vidInf">
                    <span class="labLe">RATING:</span><span class="imgRate star{modalContents.rating}"></span>
                </div>
            </div>

            <!-- description -->
            <span class="labLe">DESCRIPTION:</span>
            <div style="margin:  8px 0 30px;" class="exc-desc">{@html modalContents.description.html}</div>

            <!-- button and footer -->
            <div class="revFoot">
                <a href="/case-study" class="button">Free Case Study</a>
                
                <p>Or, read more about <Link class="exc-link" to="/results/{modalContents.permalink}"><span class="exc-nme2">{modalContents.name}</span>'s story here.</Link></p>
            </div>
            
        </div>
    </section>
{/if}

<Footer/>


<style lang="scss">

.head {
    margin-top: 64px;
	text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
    min-height: 30vh;
    align-items: center;
    padding: 1.4rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
	background: #fff;
	background: linear-gradient(to bottom, #fff 0%, #f6f6f6 47%, #ededed 100%);

	.wrap {
		position: relative;
		z-index: 2;
	}

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    h1 {
        text-transform: uppercase;
        font-size: 1.8rem;
        margin: 0 0 1rem;
    }

    p {
        font-size: 1.2rem;
        margin: 0;
    }
}

.results {
    padding: 1rem;
}

.case-study {
    padding: 3rem 1rem;
    text-align: center;
}


@media (min-width: 768px) {
    .head {
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.4rem;
        }
    }

    .results {
       section {
           display: grid;
           grid-template-columns: 1fr 1fr;
           gap: 1rem;
       }
    }

    .case-study {
       a {
           font-size: 1.5rem;
       }
    }
}

@media (min-width: 992px) {
    .head {
        min-height: 40vh;

        h1 {
            font-size: 2.6rem;
        }
    }

    .results {
        section {
            grid-gap: 2rem;
        }
    }
}
</style>