<script>

    let expandBtn = false

    const toggleMenu = (e) => {

        let t = e.target.classList
        let cls = 'active'
        
        // if the target is not a <div>
        if (e.target.nodeName != 'DIV') {

            let p = e.target.closest('.menu').classList
            let i = e.target.closest('.menu').children[0].children[0].classList

            if (p.contains(cls)) {
                p.remove(cls)
                i.add('icon-plus1')
                i.remove('icon-minus1')
            } else {
                p.add(cls)
                i.remove('icon-plus1')
                i.add('icon-minus1')
            }
        }

        // if target is the div
        if (e.target.nodeName == 'DIV') {

            let p = e.target.classList
            let i = e.target.children[0].children[0].classList

            if (p.contains(cls)) {
                p.remove(cls)
                i.add('icon-plus1')
                i.remove('icon-minus1')
            } else {
                p.add(cls)
                i.remove('icon-plus1')
                i.add('icon-minus1')
            }
        }
        
    }

    const toggleSubMenu = (e) => {

        let elem = e.target
        let parentLi = elem.closest('li.menu')
        let caretDown = 'icon-caret-down'
        let caretUp = 'icon-caret-up'
        let cls = 'active'

        // if <p> is selected
        if (elem.nodeName == 'P') {

            // check if it contains 'active' class
            if (parentLi.classList.contains(cls)) {
                
                parentLi.classList.remove(cls)
                elem.children[1].classList.add(caretDown)
                elem.children[1].classList.remove(caretUp)
            } else {
                parentLi.classList.add(cls)
                elem.children[1].classList.remove(caretDown)
                elem.children[1].classList.add(caretUp)
            }
        }

        // if <i> is selected 
        if (elem.nodeName == 'I') {

            // check if parent has 'active' class
            if (elem.classList.contains('caret')) {
                if (elem.classList.contains(caretDown)) {
                    parentLi.classList.add(cls)
                    elem.classList.remove(caretDown)
                    elem.classList.add(caretUp)
                } else {
                    parentLi.classList.remove(cls)
                    elem.classList.add(caretDown)
                    elem.classList.remove(caretUp)
                }
            }
        }

    }

    const expandToggle = () => {
        let men = document.querySelectorAll('.menu')
        expandBtn = true
        men.forEach(e => {
            e.classList.add('active')
        });
    }
    
    const collapseToggle = () => {
        expandBtn = false
        let men = document.querySelectorAll('.menu')
        men.forEach(e => {
            e.classList.remove('active')
        });
    }

</script>

<section>
    
    <article>

        {#if expandBtn}
            <button class="expand-all" on:click="{() => collapseToggle()}">Collapse All</button>
        {:else}
            <button class="expand-all" on:click="{() => expandToggle()}">Expand All</button>
        {/if}

        <div>
            <span>25 Modules</span>
            <span>56:01:21</span>
        </div>
    </article>

    <section>
        <nav>
            <div class="active menu" on:click="{(e) => toggleMenu(e)}">
                <span><i class="icon-minus1"></i> Week One - Strategy </span>
                <span>
                    <span>3 Modules</span>
                    <span>06:51:30</span>
                </span>
            </div>

            <ul>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}" ><i class="icon-play-circle"></i> 1. The Road Ahead <i class="icon-caret-down caret"></i></p>
                        <span>01:46:14</span>
                    </div>
                    <div class="submenu">
                        <p>A full overview of the program and the core parts we focus on to get results. This video is extremely important to understand the road ahead.</p>

                        <p>Here's what we cover:</p>

                        <p>
                            - Our main objective - “Seller Bliss”<br>
                            - Program operations<br>
                            - How to get results<br>
                            - Program overview<br>
                            - Why our method and strategy is different<br>
                            - The math to $100K per month and the only things that matter
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 2. Finding Your Focus <i class="icon-caret-down caret"></i></p>
                        <span>02:27:19</span>
                    </div>
                    <div class="submenu">
                        <p>In this beast of a module we cover the thing that prevents most people from becoming as successful as they want. And yet this same thing is the main reason others become millionaires. If there is one thing you need to be successful in business and in life - this is it. This video can change your life.</p>

                        <p>Here's what we cover:</p>
                        
                        <p>
                            - Focus: Your best friend or worst enemy<br>
                            - Time: The grim reaper<br>
                            - Find your focus<br>
                            - Sacrifice - you can’t have it all<br>
                            - Throughput and the flow of value<br>
                            - Discipline and befriending time
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 3. Crafting Your Strategy <i class="icon-caret-down caret"></i></p>
                        <span>02:37:57</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we cover strategy and show you how to become a strategic mastermind. Not having a solid strategy is the main reason sellers fail. We are going to dive into your strategy and define it. We also get you clear on what you're going to focus on for next couple of weeks. This is the root of everything you'll build in your business. This is a crucial module!</p>

                        <p>Here's what we cover:</p>
                        
                        <p>
                            - The art of war <br>
                            - How to make the competition irrelevant <br>
                            - Mapping the landscape <br>
                            - How to craft a winning strategy <br>
                            - Every battle is won before it is fought
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-check-circle"></i> Action Items</p>
                        <span>5 Items</span>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-info-circle"></i> Questions</p>
                        <span>2 Live Q&amp;A Calls</span>
                    </div>
                </li>
            </ul>

        </nav>

        <nav>
            <div class="menu" on:click="{(e) => toggleMenu(e)}">
                <span><i class="icon-plus1"></i>  Week Two - Supply Chain </span>
                <span>
                    <span>4 Modules</span>
                    <span>09:13:59</span>
                </span>
            </div>

            <ul>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}" ><i class="icon-play-circle"></i> 1. The Lifeblood Of Your Business <i class="icon-caret-down caret"></i></p>
                        <span>01:06:11</span>
                    </div>
                    <div class="submenu">
                        <p>Welcome to week two of the Apex Seller program. In this week we're going to cover the supply chain and how to make yours the strongest of the strong. It's truly the lifeblood of your business and everything you do and want to achieve depends on it.</p>

                        <p>Here's what we cover:</p>

                        <p>
                            - Overview of what we’re doing in week two <br>
                            - The fatal mistake and most seller’s Achilles’ heel <br>
                            - The evolution of a professional supply chain <br>
                            - The core components of a supply chain <br>
                            - Internal vs external focus
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i>  2. Key Data & Lowering Costs <i class="icon-caret-down caret"></i></p>
                        <span>03:12:27</span>
                    </div>
                    <div class="submenu">
                        <p>There's a world of difference between "average" sourcing and professional level sourcing. In this module we show you how to source professionally so you can find the best suppliers and the lowest costs. You're also going to get clear on key data before moving forward. Finally you'll learn how to reduce the costs on your existing products by 10% to 30%, or more.</p>

                        <p>Here's what we cover:</p>

                        <p>- Going for gold <br>
                            - Gathering product data <br>
                            - Shipping and packaging data <br>
                            - True landed cost and profit margin analysis <br>
                            - Negotiations and moving towards the order <br>
                            - Secrets to lowering current product costs</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 3. World Class Products <i class="icon-caret-down caret"></i></p>
                        <span>02:41:09</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we show you how to produce world class quality products. The value you provide as a business is for the most part the products you sell. Therefore they must be good. Making good products is a science and a process. Product quality issues are a serious problem for sellers and we'll show you how to near eliminate them.</p>

                        <p>Here's what we cover:</p>
                        
                        <p>- The heart of a great product <br>
                            - How to identify world class suppliers <br>
                            - Spec’ing for greatness <br>
                            - Casting the order <br>
                            - The holy grail of quality <br>
                            - Preventing problems and root cause analysis</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 4. Dynamic Inventory Planning & Cash Flow <i class="icon-caret-down caret"></i></p>
                        <span>02:14:12</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we show you how to maximize the cash utilization in your business. The better you can use the cash at your disposal the faster you will grow and the more money you will make. We cover dynamic inventory planning and how to speed up the cash cycle. Let's kick your business into high gear by mastering the nuts and bolts of rapid growth.</p>

                        <p>Here's what we cover:</p>
                        
                        <p>- Inventory and cash principles <br>
                            - Dynamic inventory planning <br>
                            - Cash outflow and inflow <br>
                            - Plugging the holes</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-check-circle"></i> Action Items</p>
                        <span>12 Items</span>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-info-circle"></i> Questions</p>
                        <span>2 Live Q&amp;A Calls</span>
                    </div>
                </li>
            </ul>

        </nav>

        <nav>
            <div class="menu" on:click="{(e) => toggleMenu(e)}">
                <span><i class="icon-plus1"></i>  Week Three - Systems </span>
                <span>
                    <span>4 Modules</span>
                    <span>09:59:57</span>
                </span>
            </div>

            <ul>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}" ><i class="icon-play-circle"></i> 1. Order From Chaos <i class="icon-caret-down caret"></i></p>
                        <span>02:53:32</span>
                    </div>
                    <div class="submenu">
                        <p>Welcome to week three of the Apex Seller program. Most people's businesses are chaotic and cannot scale. In this week we're going to cover systems and how to structure your business for success. We'll get you clear on the core processes in your business and show you how to design potent workflows so you get maximum output from minimum input.</p>

                        <p>Here's what we cover:</p>

                        <p>- Overview of what we’re doing in week three <br>
                        - The butterfly effect <br>
                        - Systems thinking <br>
                        - Mapping your systems <br>
                        - Creating your workflows <br>
                        - Pilot sheet and productivity hacks
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i>  2. Essential Systems <i class="icon-caret-down caret"></i></p>
                        <span>02:42:38</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we cover the core components and essential systems in a private label business. We explore best practices for each and smart design. These systems must be strong and efficient before you can add fuel to the fire and scale your business successfully.</p>

                        <p>Here's what we cover:</p>

                        <p>
                            - Core components <br>
                            - R&D systems <br>
                            - Supply chain systems <br>
                            - Marketing & sales systems <br>
                            - Support systems
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 3. Data & Science <i class="icon-caret-down caret"></i></p>
                        <span>02:28:20</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we apply data to our systems so we can tap into the power of the scientific method. This enables us to grow our businesses with reliability and precision.</p>

                            <p>Here's what we cover:</p>
                            
                            <p>
                                - Important data and the power of science <br>
                                - Applying data to every system <br>
                                - Your Polaris star <br>
                                - The KPI tracker <br>
                                - Finding north
                            </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 4. Mechanics Of Scale <i class="icon-caret-down caret"></i></p>
                        <span>01:55:27</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we bring it all together and explore the mechanics of scale. We get you clear on the reality of scaling your business. We show you how to plan and prepare for the growth that is to come.</p>

                        <p>Here's what we cover:</p>

                        <p>
                            - Understanding scale <br>
                            - Secrets of scale <br>
                            - Economics of scale <br>
                            - Planning for scale
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-check-circle"></i> Action Items</p>
                        <span>9 Items</span>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-info-circle"></i> Questions</p>
                        <span>2 Live Q&amp;A Calls</span>
                    </div>
                </li>
            </ul>

        </nav>

        <nav>
            <div class="menu" on:click="{(e) => toggleMenu(e)}">
                <span><i class="icon-plus1"></i> Week Four - Advertising</span>
                <span>
                    <span>7 Modules</span>
                    <span>15:37:11</span>
                </span>
            </div>

            <ul>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}" ><i class="icon-play-circle"></i> 1. Amazon Gameplan <i class="icon-caret-down caret"></i></p>
                        <span>01:48:19</span>
                    </div>
                    <div class="submenu">
                        <p>Welcome to week four of the Apex Seller program. In this first module we cover our gameplan for generating sales on Amazon. We get you clear on what to expect going into this - and why our approach is different and how it works. We also reveal the fatal mistake most sellers make with this part of their business and how you can avoid falling into "the trap".</p>

                            <p>Here's what we cover:</p>
                            
                            <p>- Overview of what we’re doing in week four <br>
                            - Falling for the trap <br>
                            - Taming the beast <br>
                            - Capturing the market <br>
                            - Our gameplan for generating sales</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i>  2. Full-scale Advertising Architecture <i class="icon-caret-down caret"></i></p>
                        <span>02:16:45</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we outline the design and structure of our paid advertising, which enables us to scale it to the max. We discuss the role that Amazon ads play when it comes to generating sales on Amazon and the two main strategies to choose from. Finally we go into analyzing advertising data and setting targets - and how to use non-linear performance tracking to optimize for your desired output.</p>

                        <p>Here's what we cover:</p>

                        <p>
                            - The role of Amazon ads <br>
                            - Working at scale <br>
                            - Structure and nomenclature <br>
                            - Advertising analysis <br>
                            - Targets and performance tracking
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 3. Keywords & Core Campaigns <i class="icon-caret-down caret"></i></p>
                        <span>02:35:09</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we start launching some campaigns! This is an action-packed module where we set-up of one of our core campaign types. We cover the process of constructing and launching a campaign with bulk operations. We also introduce our method for collating all keywords into a centralized location. Finally we take a look at The Campaign Playbook - which is one of the most valuable resources in this program.</p>

                        <p>Here's what we cover:</p>

                        <p>
                            - Unveiling the manual campaign <br>
                            - Uniques <br>
                            - Campaign genesis <br>
                            - Collating keywords <br>
                            - Manual campaign types
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 4. Automatic & Lateral Targeting <i class="icon-caret-down caret"></i></p>
                        <span>01:58:30</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we explore the automatic campaign and its' role amongst other campaign types. We walk through our three-tiered auto structure and how to tune this campaign to produce the desired ACoS. We also cover how to leverage the data that this campaign type produces. Finally we take a high-level look at lateral targeting campaigns and how to use them to maximize our potential with paid advertising on Amazon.</p>

                        <p>Here's what we cover:</p>

                        <p>- Machine learning <br>
                            - Initial conditions <br>
                            - Tuning the machine <br>
                            - Data mining <br>
                            - Lateral targeting campaigns
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 5. Campaign Management <i class="icon-caret-down caret"></i></p>
                        <span>03:08:35</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we get down to the nitty-gritty of paid advertising performance. We show you how to optimize your campaigns for best results after they've been launched. We also cover the specific campaign management processes we use. Finally we discuss our weekly workflow for running successful advertising on Amazon.</p>

                        <p>Here's what we cover:</p>

                        <p>- Bid behavior <br>
                            - Deep data analysis <br>
                            - Casting the net <br>
                            - Management processes <br>
                            - Process #1: Culling <br>
                            - Process #2: Calibration <br>
                            - Weekly workflow
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 6. Listing Optimization <i class="icon-caret-down caret"></i></p>
                        <span>01:42:39</span>
                    </div>
                    <div class="submenu">
                        <p>Listing optimization is the bridge between paid and organic sales. In this module we discuss this critical relationship and go through our process for optimizing listings strategically for organic keyword rank.</p>

                        <p>Here's what we cover:</p>

                        <p>- Opening the floodgates <br>
                            - Optimization framework <br>
                            - Prioritizing the data <br>
                            - Brewing a hurricane <br>
                            - Optimization workflow
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 7. Omnipresence <i class="icon-caret-down caret"></i></p>
                        <span>02:07:14</span>
                    </div>
                    <div class="submenu">
                        <p>In this module we arrive at the ultimate aim of advertising; becoming omnipresent in the market. Being everywhere at the same time. We discuss three additional factors when it comes to generating sales on Amazon - and what to do to make the most of each one.</p>

                        <p>Here's what we cover:</p>

                        <p>- Being everywhere <br>
                            - Conversions <br>
                            - Page interactions <br>
                            - Velocity spikes <br>
                            - Achieving omnipresence
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-check-circle"></i> Action Items</p>
                        <span>21 Items</span>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-info-circle"></i> Questions</p>
                        <span>2 Live Q&amp;A Calls</span>
                    </div>
                </li>
            </ul>

        </nav>

        <nav>
            <div class="menu" on:click="{(e) => toggleMenu(e)}">
                <span><i class="icon-plus1"></i>  Week Five - Operations </span>
                <span>
                    <span>4 Modules</span>
                    <span>11:04:26</span>
                </span>
            </div>

            <ul>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}" ><i class="icon-play-circle"></i> 1. Business Engineering <i class="icon-caret-down caret"></i></p>
                        <span>01:35:50</span>
                    </div>
                    <div class="submenu">
                        <p>Welcome to week five of the Apex Seller program. Once you have a business model that's working, your main challenge becomes hiring and managing a great team. Most entrepreneurs never learn how to build a real business that does not require them to operate. In this first module we gain perspective on what it takes to grow operations and engineer a real business.</p>

                        <p>Here's what we cover:</p>

                        <p>- Overview of what we’re doing in week five <br>
                            - You: The CEO <br>
                            - Building a real business <br>
                            - The evolutionary stages of growth <br>
                            - The reality check
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i>  2. Constructing The Machine <i class="icon-caret-down caret"></i></p>
                        <span>02:59:02</span>
                    </div>
                    <div class="submenu">
                        <p>Before you can grow an effective team you must set a clear vision and a strong sense of direction for your company. In this module we construct and organize your operations. We discuss the importance of building an organism, not a pyramid. We also cover the key roles in a private label business and how they evolve through different stages of growth. Finally, we show you what it takes to build a real business that doesn't need you to operate and grow.</p>

                        <p>Here's what we cover:</p>

                        <p>- Business DNA <br>
                            - Executive planning <br>
                            - Key roles and team structure <br>
                            - Functions and processes <br>
                            - Company direction</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 3. Assembling Your Force <i class="icon-caret-down caret"></i></p>
                        <span>03:33:46</span>
                    </div>
                    <div class="submenu">
                        <p>If there's one thing that will transform your success in business, this is it. In this module we cover the people component of your operations. Most entrepreneurs are clueless when it comes to assembling a great team. But when you know how to attract and hire the best talent - and align them all on a mission - you create an unstoppable force that can achieve anything.</p>

                        <p>Here's what we cover:</p>
                        
                        <p>- Culture and champions <br>
                            - Types of talent <br>
                            - Attracting and hiring <br>
                            - The hiring funnel <br>
                            - The hiring toolkit <br>
                            - Onboarding, payroll and retention <br>
                            - Building people</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 4. The Operating System <i class="icon-caret-down caret"></i></p>
                        <span>02:55:48</span>
                    </div>
                    <div class="submenu">
                        <p>Your operations are the system that governs all other systems. It's the one system that everything else depends on. Yet most entrepreneurs don't have a system for operations which leads to a frazzled and chaotic experience. In this module we cover how to operate your business like a finely-tuned engine; to produce maximum efficiency, profits and long-term success.</p>

                        <p>Here's what we cover:</p>
                        
                        <p>- Operations as a system <br>
                            - Lean work <br>
                            - Teamwork <br>
                            - Process work <br>
                            - Creative work <br>
                            - Tools for operations</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-check-circle"></i> Action Items</p>
                        <span>16 Items</span>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-info-circle"></i> Questions</p>
                        <span>2 Live Q&amp;A Calls</span>
                    </div>
                </li>
            </ul>

        </nav>

        <nav>
            <div class="menu" on:click="{(e) => toggleMenu(e)}">
                <span><i class="icon-plus1"></i>  Week Six - The Apex </span>
                <span>
                    <span>3 Modules</span>
                    <span>03:14:18</span>
                </span>
            </div>

            <ul>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}" ><i class="icon-play-circle"></i> 1. Your 7-Figure Brand <i class="icon-caret-down caret"></i></p>
                        <span>01:00:24</span>
                    </div>
                    <div class="submenu">
                        <p>Welcome to week six of the Apex Seller program. So far we have covered the internal workings of your business in great detail. We have covered what to do, when to do it and how to do it. Once you have a clear structure with excellent systems and you are doing a great job at operating your business - it's time to add more weight to your business with new products and scale up. That is what we cover this week.</p>

                        <p>Here's what we cover:</p>

                        <p>- The Apex seller <br>
                            - Overview of what we’re doing in week six <br>
                            - More is not bigger <br>
                            - Hyper-optimization <br>
                            - Managing risk
                        </p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i>  2. Product Selection <i class="icon-caret-down caret"></i></p>
                        <span>01:22:48</span>
                    </div>
                    <div class="submenu">
                        <p>There is a fine science to expanding your product selection efficiently. Most sellers don't understand what guiding principles to follow when it comes to adding more products and variations. This can cause serious issues and is a major reason why many sellers struggle to scale beyond a certain point. In this module we show you how to expand your product selection to grow your business in the most effective way possible.</p>

                        <p>Here's what we cover:</p>

                        <p>- The product lifecycle <br>
                            - The importance of timing <br>
                            - Data-driven expansion <br>
                            - Assessing new product performance</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p on:click="{(e) => toggleSubMenu(e)}"><i class="icon-play-circle"></i> 3. Product Evolution <i class="icon-caret-down caret"></i></p>
                        <span>01:51:06</span>
                    </div>
                    <div class="submenu">
                        <p>When all is said and done the only thing that truly matters is selling great products. And yet it's the last thing on most sellers minds. But you are different. Working on your products is the highest ROI activity in your entire business. This module is going to show you how to make better products.</p>

                        <p>Here's what we cover:</p>
                        
                        <p>- Why products must evolve <br>
                            - Collecting product feedback <br>
                            - Product versions <br>
                            - Designs and patents <br>
                            - Molds and tooling <br>
                            - Branding</p>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-check-circle"></i> Action Items</p>
                        <span>9 Items</span>
                    </div>
                </li>
                <li class="menu">
                    <div>
                        <p><i class="icon-info-circle"></i> Questions</p>
                        <span>2 Live Q&amp;A Calls</span>
                    </div>
                </li>
            </ul>

        </nav>

    </section>
</section>

<style lang="scss">

section {

    article:first-child {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        button {
            padding: 0.6rem 1rem;
            font-size: 0.9rem;
            background: #eaeaea;
            color: #0047ab;
            font-weight: 600;
        }

        div {
            font-weight: bold;
            font-size: 1rem;
            
            span:first-child {
                margin-right: 1rem;
            }
        }
    }

    section {
        margin: 0;

        nav {
            
            > div {
                background: #efefef;
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                font-size: 0.9rem;
                border-bottom: 1px solid #fff;
                cursor: pointer;
                user-select: none;

                    
                span:last-child {
                    span:first-child {
                        margin-right: 0.5rem;
                    }
                }

                &.active {
                    background: #0047ab;
                    color: #fff;

                    + ul {
                        display: block;
                    } 
                }

                
                i {
                    margin-right: .8rem;
                }
            }
            // svlete-ignore
            ul {
                list-style: none;
                display: none;
                padding: 0;

                li.menu {
                    
                    div:first-child {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0.5rem 1rem;
                        border-bottom: 1px solid #efefef;
                        
                        p {
                            margin: 0;
                            user-select: none;
                            cursor: pointer;
                            
                            i:first-child {
                                cursor: auto;
                            }

                            
                        }

                    }

                    div.submenu {
                        display: none;
                        text-align: left;
                        padding: 1rem;
                    }

                    

                    p {
                        font-size: 0.8rem;
                        i {
                            margin: 0 0.4rem;
                        }
                    }
                    span {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

}


@media (min-width: 768px) {

    section {
        article:first-child {
            div span:first-child {
                    margin-right: 2.5rem;
                }
        }

        section {

            nav {
                > div {
                    font-size: 1rem !important;

                    span:last-child {
                        span:first-child {
                            margin-right: 2rem;
                        }
                    }
                }
                ul li.menu {
                    p {
                        font-size: 1rem;
                    }
                    span {
                        font-size: 1rem;
                    }
                }
            } 
        }
    }

    
}


</style>