<script>
    import NavLink from './Navlink.svelte';
</script>

<footer>

    <section class="primary">
        <div class="wrap">
            <img src="/imgs/footer-logo.webp" alt="Apex Seller" width="36" height="38">
            <nav>
                <span><NavLink to="results">Student Results</NavLink></span>
                <span><NavLink to="programs">Programs</NavLink></span>
                <span><NavLink to="channel">Channel</NavLink></span>
                <span><a href="https://intoprofits.com/case-study" target="_blank">Free Case Study</a></span>
            </nav>
        </div>
    </section>	

    <div class="secondary">
        <div class="wrap">
            <div class="copyright">
                <p>© 2021 IntoProfits.com</p>
                <nav class="copyright-links">
                    <span><NavLink to="privacy-legal">Privacy & Legal</NavLink></span>
                    <span><NavLink to="contact">Contact</NavLink></span>
                </nav>
            </div>

            <div class="social">
                <a href="https://app.intoprofits.com/login" rel="noopener" aria-label="Login" target="_blank">Login</a>
                <div class="social-icons">
                    <a rel="noopener" aria-label="Youtube" target="_blank" href="https://www.youtube.com/channel/UCOhQ7IdiVx4IKDOKRKl7RtA"><span class="icon-youtube"></span></a>
                    <a rel="noopener" aria-label="Facebook" target="_blank" href="https://business.facebook.com/danielaudunssonlive"><span class="icon-facebook"></span></a>
                    <a rel="noopener" aria-label="Twitter" target="_blank" href="https://twitter.com/DanielAudunsson"><span class="icon-twitter"></span></a>
                    <a rel="noopener" aria-label="Linkedin" target="_blank" href="https://www.linkedin.com/in/daniel-audunsson-81b3b27b/"><span class="icon-linkedin"></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<style type="text/scss">

footer {
    text-align: center;
}


.primary {
    background: #f7f7f7;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;

    .wrap {
        padding: 1rem;

        img {
            display: none;
        }

        nav {
            display: grid;
            gap: 0.8rem;

            span {
                color: #000;
                font-size: 0.9rem;
            }
        }

    }
}

.secondary {
    margin: 1rem;

    .copyright p {
        font-size: 1.2rem;
        margin: 0;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 1rem;

        span {
            padding: 0.4rem 0;
            color: #000;
            font-size: 0.9rem;
            display: block;
        }
    }

    .copyright-links {
        margin: 0 0 20px;
    }
    .social > a {
            display: inline-block;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .social-icons a {
        padding: 6px;
        background: #0047ab;
        color: #fff;
        font-size: 12px;
        border-radius: 2px;
    }
}

@media (min-width: 481px) {
    .primary {
        .wrap {
            nav {
                display: flex;
                gap: 0.8rem;
                justify-content: space-between;

                span {
                    color: #000;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {

    footer {
        .primary {
            .wrap {
                display: flex;
                justify-content: space-between;

                img {
                    float: left;
                    display: block;
                }

                nav {
                    display: flex;
                    gap: 1rem;

                    span {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .secondary {
            .wrap {
                display: flex;
                justify-content: space-between;

                .copyright {
                    text-align: left;

                    .copyright-links {
                        margin: 0;
                        justify-content: left;
                        
                        span {
                            padding: 0.4rem 0;
                            color: #000;
                            display: block;
                        }
                    }

                    p {
                        margin: 0 0 0.8rem;
                    }
                }

                .social {
                    text-align: right;
                }
            }
        }
    }
}

@media (min-width: 1220px) {
    .primary {
        .wrap {
            padding: 1rem 0;
        }
    }
}
</style>