<script>
    export let post;

</script>

<slot>
    <div class="reviews-thumb">
        <span class="play-button">
            <div></div>
        </span>
        {#if post.thumbnail}
            <img src="{post.thumbnail.url}" width="500" height="281" alt="{post.title}">
        {:else}
            <img src="/imgs/no-thumb.webp" width="500" height="281" alt="{post.title}">
        {/if}
        <div class="info">
            <div class="imgRate star{post.rating}"></div>
            <div class="rvinfo-lft">
                <h5>{post.name}</h5>
                <p>{post.location}</p>
            </div>
        </div>
    </div>
</slot>

<style type="text/scss">

.reviews-thumb {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
	margin-bottom: 1rem;
    height: 250px;
	cursor: pointer;
    transition: all .4s;
    border: 1px solid #dadada;

    &:hover {
        border-color: #c7c7c7;
        box-shadow: 0 2px 20px 0 #b7b7b7;

        .play-button {
            div {
                width: 90px;
                height: 90px;
                background: #52525299;
            }
        }
    }

    .play-button {
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        align-items: center;
        justify-content: center;
        z-index: 2;
        top: 0;

        div {
            width: 70px;
            height: 70px;
            background: #ffffff5d;
            display: grid;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;

            &:before {
                content: "";
                display: block;
                position: relative;
                left: 2px;
                width: 0;
                height: 0;
                border-top: 14px solid transparent;
                border-left: 18px solid white;
                border-bottom: 14px solid transparent;
                -webkit-transition: all .4s;
                -o-transition: all .4s;
                transition: all .4s;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        background: #ffffffd6;

        h5 {
            line-height: 1rem;
            font-size: 0.9rem;
            margin: 0;
        }
        p {
            font-size: 0.8rem;
            line-height: 1rem;
            margin: 0;
        }
    }
}

@media (min-width: 600px) {
    .reviews-thumb {

        .info {
            padding: 0.8rem;
            
            .imgRate {
                float: right;
                top: 0.4rem;
                position:relative;
            }
        }
    }
}

@media (min-width: 768px) {
    .reviews-thumb {
        margin: 0;

        .info {
            .imgRate {
                top: 0.6rem;
            }
            h5 {
                font-size: 1rem;
                margin: 0 0 0.5rem;
            }
            p {
                font-size: 0.9rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .reviews-thumb {
        height: 300px;
    }
}

</style>