/*
	Author: Grant Imbo @grantimbo / @grntx
	Version: 1
*/


/*------------------------------------*\
    MAIN
\*------------------------------------*/


html {
    font:300 14px/1.4 'Raleway', sans-serif;
	background: #fff;
	overflow-x: hidden;
	color: #000;
    
	/*taken from global box-sizing*/
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {
	margin: 0;
    padding: 0;
}
figure {
    margin: 0;
    position: relative;
}
ul {
	padding-left: 1.2rem;
}
img {
	vertical-align:bottom;
	max-width:100%;
	height: auto;
}
a {
	color: #0047ab;
	text-decoration:none;
	outline: 0 !important;
	border: 0;

	&:hover {
		color: #3996da;
	}

	&:focus {
		outline:0;
	}

	&:active {
		outline:0;
	}

	&:visited {
        color: rgb(0,80,160);
    }
}
h1, h2, h3, h4, h5, h6, p, ol, ul {
	padding: 0;
	margin: 0 0 .8rem 0;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6, b, strong{
	line-height: 2.4rem;
	font-weight: bold;
}
ul {
    padding-left: 1.5rem;
}
h1 { font-size: 1.5rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.1rem; }
p { font-size: 1rem; }



/*------------------------------------*\
    INPUT
\*------------------------------------*/


button, a.button {
	border: 0;
	background: #0047ab;
	color: #fff;
	font-size: 16px;
	padding: 12px 30px;
	display: inline-block;
    cursor: pointer;
    box-sizing: border-box;

	&:hover {
		background: #0047ab;
		color: #fff;
		box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.22), 0 233px 233px 0 rgba(255,255,255,0.12) inset;
	}
}


/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

.wrap {
	max-width:1170px;
	width:100%;
	margin:0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	padding: 1rem;
	margin-top: 64px;
}



// header
header {
    background: #efefef;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;

	&.mobile {
        height: 64px;
        padding: 0;
        background: #efefef;
        text-align: center;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 0.5rem;
            background: none;
            color: #000;
            font-size: 2.3rem;
            margin-right: 0.6rem;
        }

        > a {
            margin-left: 1rem;
            .logo {
                position: relative;
                max-width: 200px;
            }
        }

        

        nav {
            position: fixed;
            top: 64px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000;
            z-index: 3;
            text-align: left;
            display: none;

            &.active {
                display: block;
            }

            a {
                padding: 16px 20px;
                color: #ffffff;
                font-size: 16px;
                display: block;
                transition: all .4s ease;
                border-top: 1px solid #292929;

				&.active {
					background: #212121;
				}
            }
        }
    }

    &.desktop {
        .wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 64px;

			> a {
				margin-left: 1.2rem;
			}

            nav {
                position: relative;
                align-items: center;
                display: flex;
                grid-template-columns: repeat(4, 1fr);

                span {
                    position: relative;
                    transition: all .4s ease;

                    &.active {
                        div {
                            display: block;
                        }
                    }

                    a {
                        font-size: 1rem;
                        padding: 1.2rem;
                        color: #000;
                        z-index: 2;
                        position: relative;
                        display: block;
    
                        &:hover {
                            background: #f7f7f7;
                        }
                        
                        &.active {
                            background: #f7f7f7;
                        }
                    }

                    div {
                        display: none;
                        position: absolute;
                        width: 132px;
                        top: 62px;

                        a {
                            background: #0047ab;
                            color: #fff;

                            &:hover {
                                background: #055dda;
                                color: #fff;
                            }

                            &.active {
                                background: #055dda;
                                color: #fff;
                            }

                        }

                    }
                    
                    
                }
                
                
            }
        }
    }
}

/*------------------------------------------------------*\ 
	Reviews Page    
\*------------------------------------------------------*/

#resultModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;

    .review-excerpt-wrap {
        background: #ffffff;
        margin: 4rem 1rem;
        min-height: 70vh;
        padding: 3.5rem 1rem;
        position: relative;

        .close-modal {
            position: absolute;
            top: 16px;
            right: 17px;
            cursor: pointer;
            font-size: 20px;
        }

        h1 {
            font-size: 1.4rem;
            margin: 0 0 1rem;
            line-height: 2rem;
        }

        .iframe-wrap {
            margin-bottom: 1rem;
        }

        
        
        .revFoot {
            text-align: center;
            padding: 20px 0 0;
        
            > a {
                padding: 16px;
                font-size: 18px;
                display: block;
                max-width: 340px;
                margin: 0 auto;
                text-transform: uppercase;
                font-weight: bold;
            }
        
            > p {
                font-size: 0.8rem;
                margin: 0.5rem 0;
            }
        }
        
    }
}

.labLe {
    background: #e3e3e3;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 6px;
    display: inline-block;
    margin: 0 6px 0 0;
}

.vidInf {
    margin: 0 24px 20px 0;
    display: inline-block;

    .exc-desc,
    .exc-trans {
        margin-top: 8px;
    }

    .rate-wrap {
        width: 112px;
        position: relative;
        height: 8px;
        display: inline-block;
    }

    .imgRate {
        top: 4px;
        position: relative;
    }

}



/*-------------------------------------*\
	ICONS
\*-------------------------------------*/


.imgConnected {
	background: url(imgs/apex-seller-sprite.webp) no-repeat 0 -228px;
	width:88px;
	height: 90px;
	display: inline-block;

    &.strategy { background-position: -95px -228px;}
    &.chain { background-position: -187px -228px; }
    &.cashflow { background-position: -278px -228px; }
    &.systemdata { background-position: -2px -315px; }
    &.advertising { background-position: -187px -317px; }
    &.optimization { background-position: -2px -407px; }
    &.conversion { background-position: -93px -317px; }
    &.hiring { background-position: -279px -317px; }
    &.operations { background-position: -94px -407px; }
    &.automation { background-position: -188px -407px; }
    &.evolution { background-position: -279px -407px; }
}

.imgFeatured {
	background: url(imgs/apex-seller-sprite.webp) no-repeat -210px -12px;
    width: 132px;
    height: 30px;
	display: block;
	margin: 0 auto;

    &.forbes { background-position: -136px -78px; width: 106px;}
    &.huffpost { background-position: -154px -42px; width: 184px;}
    &.bbc { background-position: -240px -78px; width: 104px;}
}

.imgWhoWhat {
	background: url(imgs/apex-seller-sprite.webp) no-repeat 0 -142px;
	width:70px;
	height: 68px;
	display: inline-block;
	margin-bottom: 1rem;

    &.objective { background-position-x: -76px; }
    &.length { background-position-x: -151px; }
    &.format { background-position-x: -224px; }
    &.access { background-position-x: -297px; }
}

.imgRate {
	background: url(imgs/apex-seller-sprite.webp);
    width: 112px;
    height: 20px;
    background-position: 0 0;
    display: inline-block;

	&.star4 {background-position-y: -20px;}
	&.star3 {background-position-y: -41px;}
	&.star2 {background-position-y: -62px;}
	&.star1 {background-position-y: -82px;}
	&.star0 {background-position-y: -102px;}
}

.imgCheck {
	background: url(imgs/apex-seller-sprite.webp) no-repeat -126px -1px;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
}


/* results */
.results-playlist {
    margin: 0 0 3rem;
    position: relative;

    iframe {
        width: 100%;
        height: 200px;
        background: #fff;
    }
}
.results-playlist-vids {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.res-link {
    width: 124px;
    display: inline-block;
    background: #fff;
    padding: 0.5rem;
    box-sizing: border-box;
    color: #000;
    border: 1px solid #ccc;
    margin-right: 0.5rem;
    min-width: 145px;
    text-align: center;
    cursor: pointer;
    transition: all  0.4s ease;

    &:hover {
        background: #dcdcdc;
        color: #2d2d2d;
    }

    &.active {
        background: #dcdcdc;
        color: #2d2d2d;
    }

	img {
		margin-bottom: 0.4rem;
		display: block;
	}

	.res-info {
		position: relative;
		
	
		b {
			white-space: nowrap;
			overflow: hidden !important;
			text-overflow: ellipsis;
			font-size: 0.9rem;
			line-height: 1rem;
			width: 100%;
			display: block;
			margin-bottom: 0.4rem;
		}
		.res-rate {
			width: 112px;
			height: 20px;
			display: block;
			position: relative;
			margin: 0 auto;
		}
		.exc-rate {
			right: auto;
			top: 0;
			left: 0;
		}
		.res-level {
			width: 100%;
			font-size: 0.9rem;
			line-height: 1rem;
			margin-bottom: 0.4rem;
		}
	}
}


.float-sidebar {
    position: absolute !important;
    bottom: -100px;
    top: auto;
}



li.menu.active  div.submenu { display: block !important }


/*------------------------------------*\
    MISC
\*------------------------------------*/

.iframe-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: .4rem;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}


/* selection */
::selection {
	background: #126aa2;
	color:#fff;
	text-shadow:none;
}
::-webkit-selection {
	background:#126aa2;
	color:#fff;
	text-shadow:none;
}
::-moz-selection {
	background:#126aa2;
	color:#fff;
	text-shadow:none;
}


/* Loading */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 120px auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 2em solid rgba(125,125,125, 0.2);
  border-right: 2em solid rgba(125,125,125, 0.2);
  border-bottom: 2em solid rgba(125,125,125, 0.2);
  border-left: 2em solid #c3c3c3;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// progressbar
.scaleProgbar {
	width: 120px;
    height: 8px;
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
	display: inline-block;
	position: relative;

    &:before {
        content: "";
        width: 120px;
        height: 8px;
        background: #3ea95f;
        left: -100% ;
        position: absolute;
        top: 0;
        -webkit-animation-name: progressbar; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
        animation-name: progressbar;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }
}

@-webkit-keyframes progressbar {
	from {left: -100%;}
	to {left: 0;}
}

/* Standard syntax */
@keyframes progressbar {
	from {left: -100%;}
	to {left: 0;}
}



/*------------------------------------*\
	ICONS
\*------------------------------------*/

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon/icomoon.eot?3j2vld');
	src:  url('fonts/icomoon/icomoon.eot?3j2vld#iefix') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.ttf?3j2vld') format('truetype'),
		url('fonts/icomoon/icomoon.woff?3j2vld') format('woff'),
		url('fonts/icomoon/icomoon.svg?3j2vld#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
.icon-plus1:before { content: "\f067"; }
.icon-minus1:before { content: "\f068"; }
.icon-check-circle:before { content: "\f058"; }
.icon-info-circle:before { content: "\f05a"; }
.icon-caret-down:before { content: "\f0d7"; }
.icon-caret-up:before { content: "\f0d8"; }
.icon-play-circle:before { content: "\f144"; }
.icon-twitter:before { content: "\e605"; }
.icon-facebook:before { content: "\e606"; }
.icon-linkedin:before { content: "\e609"; }
.icon-instagram:before { content: "\e60a"; }
.icon-menu:before { content: "\e907"; }
.icon-cross:before { content: "\e908"; }
.icon-youtube:before { content: "\f167"; }
  


/*------------------------------------*\
	RESPONSIVE
\*------------------------------------*/

@media (min-width: 768px) {
    html {
        // font:300 14px/1.5 'Raleway', sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }

    #resultModal {
        .review-excerpt-wrap {
            padding: 2rem;
            max-width: 700px;
            margin: 4rem auto;
        }
    }


    .results-playlist {
        display: grid;
        grid-template-columns: auto 200px;
        position: relative;
        gap: 1rem;
    }

    .results-playlist-vids {
        position: absolute;
        height: 100%;
        width: 200px;
        right: 0;
        display: grid;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .res-link {
        width: 100%;
        margin: 0 0 1rem;
    }
    
}


@media (min-width: 1025px) {

    header.desktop {
        .wrap {
            nav {
                span {
                    a {
                        font-size: 1.1rem;
                    }
                    div {
                        top: 64px;
                    }
                }
            }
        }
    }

    .results-playlist {
        grid-template-columns: auto 250px;
    }
    .results-playlist-vids {
        width: 250px;
    }
}
